.forest-overlay-container {
    position: absolute !important;
    height: 100% !important;
    width: 100% !important;
    z-index: 2147483647 !important;
}

.forest-select {
    user-select: none !important;
}

.forest-cursor {
    cursor: default !important;
}

.forest-overlay {
    z-index: 2147483647 !important;
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    width: 100% !important;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.901961) !important;
    text-align: center !important;
    display: inline-block !important;
    margin: 0px !important;
}

.forest-info-container {
    text-align: center !important;
    position: absolute !important;
    top: calc(50% - 200px) !important;
    height: 400px !important;
    width: 100% !important;
}

.forest-overlay-top-text {
    display: inline-block !important;
    vertical-align: middle !important;
    font-size: 32px !important;
    cursor: default !important;
    user-select: none !important;
    position: absolute !important;
    left: 0px !important;
    right: 0px !important;
    top: 10px !important;
    color: white !important;
    margin: 0px auto !important;
}

.forest-giveup-button {
    display: inline-block !important;
    vertical-align: middle !important;
    color: white !important;
    font-size: 16px !important;
    user-select: none !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: white !important;
    border-image: initial !important;
    border-radius: 5px !important;
    margin: 75px auto 0px !important;
    padding: 5px !important;
}

.forest-buttons {
    cursor: pointer !important;
    transition: transform 0.1s !important;
}

body{
  overflow: hidden !important;
}

.forest-tree-ball {
    display: inline-block !important!;
    top: 120px !important;
    left: 0px !important;
    right: 0px !important;
    width: 200px !important;
    height: 200px !important;
    background-size: contain !important;
    margin: 100px auto 0px !important;
}

.forest-popup-mask {
    position: fixed !important;
    left: 0px !important;
    right: 0px !important;
    top: 0px !important;
    bottom: 0px !important;
    background-color: black !important;
    opacity: 0 !important;
    transition: opacity 0.3s !important;
}
.forest-popup-shrink {
    transform: scale(0);
}

.forest-popup {
    position: fixed;
    top: calc(50% - 70px);
    left: 0px;
    right: 0px;
    width: 300px;
    height: 140px;
    background-color: white;
    color: black;
    text-align: center;
    margin: 0px auto;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.forest-popup-title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.forest-popup-message {
    font-size: 18px;
    text-align: center;
}

.forest-popup-confirm-button {
    right: 50px;
    background-color: #00B0B9;
}

.forest-popup-confirm-button, .forest-popup-cancel-button {
    position: absolute;
    bottom: 20px;
    display: inline-block;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 100px;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;
}

.forest-popup-cancel-button {
    left: 50px;
    background-color: #00B0B9;
}

.forest-popup-confirm-button, .forest-popup-cancel-button {
    position: absolute;
    bottom: 20px;
    display: inline-block;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 100px;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;
}
.forest-buttons {
    cursor: pointer;
    transition: transform 0.1s;
}
.forest-disappear {
    display: none !important;
}
