body {
  background: url(http://i.imgur.com/lPnxmhA.jpg) no-repeat 50% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
