div .tabs {
  border: 1px solid;
  border-color: grey;
}

h3 {
  border-bottom: 1px solid #dddddd;
  margin: 0 0 1em;
}

.mode_switch {
    border: 1px solid #dddddd;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 1em;

    p {
      margin: 0;
    }
  }

.tabs_labels li {
  border-bottom: 1px solid grey;
  display: inline;
  margin: 15px;
  padding: 10px 15px 15px 15px;
  font-size: 20px;
}

.tabs_labels li a {
  color: black;
  text-decoration: none;
}

.tabs_content {
  display: block;
  margin: 15px;
  padding-top: 20px;
}

.switch {
  float: none;
  margin-top: 1em;
}
