#sign-in{
	background-color:#00B0B9;
	color: white;
	font-size: 16px ;
	border-radius: 5px ;
	padding: 5px ;
}

.sign-in-div{
	/*margin-top: 20%;*/
}

.logo{
	width: 100%;
}

.settings {
	width: 7%;
	float: right;
/*    margin-left: 116%;
    margin-top: -4%;*/
}

.refresh {
	width: 6%;
	float: left;
/*    margin-top: -4%;*/
}

.progressbar-text{
	font-size: 18px;
	top: 65% !important;
}

body{
	text-align: center;
	min-width: 310px;
	min-height: 310px;
}

.popup-container {
	padding-top: 15px;
	padding-right: 55px;
	padding-left: 55px;
	padding-bottom: 15px;
}
