.logo{
	width: 100%;
}

.settings {
	width: 7%;
	float: right;
/*    margin-left: 116%;
    margin-top: -4%;*/
}

.refresh {
	width: 6%;
	float: left;
/*    margin-top: -4%;*/
}

#app > div > div > div.popup-container.row > div:nth-child(2) > div > div:nth-child(3) > div{
	position: relative !important;
}
.progressbar-text {
    position: absolute !important;
    top: 50% !important;
    font-size: 20px !important;
}

body{
	text-align: center;
	min-width: 310px;
	min-height: 160px;
}

.popup-container {
	padding-top: 15px;
	padding-right: 55px;
	padding-left: 55px;
	padding-bottom: 15px;
}

div .popup-login {
	text-align: center;
	padding-top: 25vh;
}

#app > div > div > div:nth-child(2) > a > img {
	padding-top: 20px;
}
