#sign-in{
	background-color:#00B0B9;
	color: white;
	font-size: 16px ;
	border-radius: 5px ;
	padding: 5px ;
}

.sign-in-div{
	margin-top: 20%;
}

.logo{
	width: 100%;
}

.settings {
	width: 10%;
    margin-left: 116%;
    margin-top: -4%;
}

.progressbar-text{
	font-size: 18px;
	top: 55% !important;
}

body{
	text-align: center;	
	min-width: 200px;
	min-height: 270px;
	padding-top: 15px;
	padding-right: 55px;
	padding-left: 55px;
	padding-bottom: 15px;
}
